# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\oop\IT3103.732872.2023.1.20183479.AnhNV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
